#adminmenu{
margin-bottom: 20px;
clear:both
}
#adminmenu ul{
overflow:hidden;
background-color:#62F974;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #62F974),color-stop(100%, #4A9B20));background-image:-webkit-linear-gradient(top, #62F974,#4A9B20);background-image:-moz-linear-gradient(top, #62F974,#4A9B20);background-image:-ms-linear-gradient(top, #62F974,#4A9B20);background-image:-o-linear-gradient(top, #62F974,#4A9B20);background-image:linear-gradient(top, #62F974,#4A9B20);
margin:0;
padding:0;
}
#adminmenu li{
float:left;
padding: 10px 20px;
}
#adminmenu li.current{
background-color:#5AE76A;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5AE76A),color-stop(100%, #2E6810));background-image:-webkit-linear-gradient(top, #5AE76A,#2E6810);background-image:-moz-linear-gradient(top, #5AE76A,#2E6810);background-image:-ms-linear-gradient(top, #5AE76A,#2E6810);background-image:-o-linear-gradient(top, #5AE76A,#2E6810);background-image:linear-gradient(top, #5AE76A,#2E6810);
}
#adminmenu li a{
color: #fff;
font-weight: 700;
}
/*home settings */
.form-horizontal.in {border:1px solid #ddd;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
float:left;
margin-bottom:15px;width:100%;
}
.top_in {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
width:100%;
padding:4px;
margin-bottom:10px;
border-bottom:1px solid #ddd;
}
.top_in .name{ width:30%; float:left;}
.sub_in {width:100%;
float:left;
}
.categ_p{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
padding:4px;
width:100%;
float:left;
position:relative;
border-bottom:1px solid #ddd;
background: #F3F3F3;
}
.red {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
padding:4px;
width:100%;
float:left;
position:relative;
border-bottom:1px dotted #ddd;
padding-left:60px;
}
.red3, .red2 {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
padding:4px;
width:100%;
float:left;
position:relative;
border-bottom:1px dotted red;
padding-left:60px;
}
.red3:hover {background:red;}
.red2:hover {background:red;}
.red3 .name, .red2 .name{ float:left; width:30%;}
.red3 .image_show, .red2 .image_show {float:left; margin-right:100px;}
.red3 a, .red2 a{text-decoration:none;}
.red3 .save, .red2 .save{float:right; margin-right:60px; margin-top:10px;}
.red:hover {background:#FCFBE8;}
.red .name{ float:left; width:30%;}
.red .image_show {float:left; margin-right:100px;}
.red a{text-decoration:none;}
.red .save{float:right; margin-right:60px; margin-top:10px;}
.categ_p:hover {background:#FCFBE8;}
.categ_p .name{ float:left; width:30%; font-weight:700;}
.categ_p .image_show {float:left; margin-right:100px;}
.categ_p a{text-decoration:none;}
.categ_p .save{float:right; margin-right:60px; margin-top:10px;}
#delete_image_bt {
float: right;
margin-right: 60px;
margin-top: 10px;
cursor:pointer;
border: 1px solid #DDD;
border-radius: 4px;
width: auto;
height: 34px;
padding-bottom: 9px;
padding-top: 7px;
vertical-align: top;
background-image: url("../images/bnt-overlay.png");
border-color: #027173;
background-color: #E54B33;
color: #FFF;
font-size: 13px;
padding-left: 13px;
padding-right: 13px;
text-shadow: 0px -1px 0px #026470
}
.author {
float:right;
line-height:40px;
}
.author .logo{float:left;}
.author .text{float:left;margin-left:30px;
color: #777;
line-height:40px;
}